<div>
	<div ng-repeat="(objKey, objValue) in obj track by objKey" ng-init="lab = SetKey(objKey)">
		<div ng-if="IsString(objValue) || IsBool(objValue)">
			<div ng-if="label">
				<input type="hidden" name="{{label}}[{{objKey}}]" value="{{objValue}}">
			</div>
			<div ng-if="!label">
				<input type="hidden" name="{{objKey}}" value="{{objValue}}">
			</div>
		</div>
		<div ng-if="IsArray(objValue)">
			<div ng-init="counter = GetCounter(objValue)"></div>
			<div ng-repeat="(obj1Key, obj1Value) in counter track by obj1Key">
				<div ng-if="label">
					<input type="hidden" name="{{label}}[{{objKey}}][]" value="{{objValue[obj1Key]}}">
				</div>
				<div ng-if="!label">
					<input type="hidden" name="{{objKey}}[]" value="{{objValue[obj1Key]}}">
				</div>
			</div>
		</div>
		<div ng-if="IsObject(objValue[0])">
			<div ng-repeat="(obj2Key, obj2Value) in objValue track by obj2Key">
				<repeater obj="obj2Value" label="objKey + '[' + obj2Key + ']'"></repeater>
			</div>
		</div>
	</div>
</div>